VITE_SUPABASE_URL=https://qupykncakpthuofrvvgf.supabase.co
VITE_SUPABASE_ANON_KEY=your-anon-key-here
DATABASE_POOLER_URL=postgresql://postgres.qupykncakpthuofrvvgf:<password>@aws-0-eu-west-1.pooler.supabase.com:6543/postgres?pgbouncer=true
DATABASE_URL=${DATABASE_POOLER_URL}
PAYSTACK_SECRET_KEY=sk_test_xxx
PING_MESSAGE="ping pong"
